@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/OpenSans-SemiboldItalic.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("./fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("./fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("./fonts/OpenSans-Light.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  overflow: auto;
  background-color: #f5f7f9;
  box-sizing: border-box;
  -user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  height: 100%;
}

* {
  font-family: "Open Sans", serif;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

#mainPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vkuiTappable {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.header-navigation,
.header-right {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-navigation {
  flex: 1 1 auto;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 12px;
  z-index: 10;
  padding-right: 105px;
  justify-content: center;
}
.button-wrapper {
  justify-content: center;
  text-align: center;
  display: flex;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.header-center {
  color: #5c5f6d;
  background-color: #fff;
  height: 50px;
}
.header-right {
  flex: 0 1 auto;
  margin-left: 10px;
  overflow: hidden;
}

.header-left {
  height: 30px;
  width: auto;
  position: relative;
}

.menu-button {
  flex-shrink: 0;
  margin-left: 20px;
}

.RubricatorPanel {
  display: flex;
  margin: 0 auto;
  max-width: 881px;
  width: 100%;
  border-radius: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  height: 100%;
  max-height: 540px;
  margin-top: 16px;
}
.RubricatorPanel section {
  width: 100%;
}
.lawsection {
  overflow-y: clip;
}

.side-panel {
  font-family: Arial;
  width: 250px;
  min-width: 250px;
  padding: 0px 10px;
  overflow-y: auto;
  overflow: hidden;
  border-right: 1px solid rgb(245, 245, 245);
  height: 100%;
  box-shadow: -4px 2px 5px #0000000c;
  border-radius: 10px 0px 0px 10px;
}
.side-panel .search-bar {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.search-input {
  padding-bottom: 0px;
}

.content-area {
  padding-right: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.vkuiCell.case-cell {
  margin: 0px 10px;
}

.case-cell {
  border-bottom: 1px solid rgb(245, 245, 245);
}
.vkuiCell.case-cell:nth-child(9) {
  border: none;
}

.case-list-wrapper {
  box-shadow: 0 2px 5px #0000000c;

  display: flex;
  flex-direction: column;
  width: 100%;

  min-height: 465px;
  max-height: 100%;
  overflow: clip;

  padding-top: 5px;

  color: #5c5f6d;
  padding-bottom: 16px;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
}
.warning {
  font-size: 12px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 10px 10px 14px;
  color: #5c5f6d;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #eaeff2;
  justify-content: start;
  gap: 12px;
}
.warning-icon {
  height: 15px;
  width: 17px;
  flex-shrink: 0;
}
.alphabet-header {
  display: flex;
  padding: 2px 0px 11px;
}
.keywordsearch-title {
  padding-top: 8px;
  margin: 10px 0px;
}
.search-input,
.keyword-search-input,
.law-search-input,
.Keywordsearch-input {
  width: 100%;
  padding: 8px;
  border: 0px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.Keywordsearch-input::placeholder {
  font-size: 14px;
}
Input:focus,
Input:active .search-input:active,
.search-input:focus,
.keyword-search-input:active,
.keyword-search-input:focus,
.law-search-input:active,
.law-search-input:focus,
.alphabet-input {
  font-weight: normal;
  border: 0px solid #ccc;
  outline: none;
}

.alphabet-input {
  display: flex;
  background-color: #fff;
  font-size: 14px;
  color: #676a77;
  height: 31px;
  width: 100%;
  font-family: "Open Sans", serif;
}

.alphabet-input::placeholder {
  color: #bfc0c1;
  font-family: "Open Sans", serif;
  font-size: 14px;
}

.case-title {
  color: #717171;
  padding-top: 8px;
  font-weight: 600;
  font-size: 15px;
  word-break: keep-all;

  padding-left: 20px;
}
.case-description,
.advancedsearch-desc {
  font-family: "Open Sans", serif;

  font-size: 12px;
  margin-bottom: 8px;
  max-width: 600px;
  color: #9e9e9e;
  padding-left: 20px;
  font-style: italic;
}

Button {
  margin: 0;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.Button:active {
  background-color: #3871e0;
  color: #fff;
}

.Button.secondary {
  background-color: #f0f0f0;
  color: #333;
}

.buttons-group {
  display: flex;
  justify-content: center;
  gap: 0px;
  flex-wrap: wrap;
  overflow: hidden;
  min-width: 0;
}

.header-left {
  padding: 10px 0px 10px 15px;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
}
.logo {
  object-fit: cover;
  object-position: center;
  height: 30px;
}
.header-right {
  flex: 0 1 auto;
  margin-left: 10px;
  overflow: hidden;
}

.case-cell:hover {
  background-color: #f9f9f9;
}
.vkuiCell.subcategory-cell.selected:hover {
  background-color: #3871e0;
}
.vkuiCell.subcategory-cell:hover {
  background-color: #f9f9f9;
  border-radius: 10px;
}
.vkuiCell.category-cell.selected:hover {
  background-color: #3871e0;
}
.vkuiCell.category-cell:hover {
  background-color: #f9f9f9;
  border-radius: 10px;
}
.category-icon,
.subcategory-icon {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  margin: auto 8px auto 0px;
}
.subcategory-icon {
  height: 18px;
  width: 18px;
}
.category-cell,
.subcategory-cell {
  padding: 5px;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  color: #5c5f6d;
  box-sizing: border-box;
}
.category-cell {
  padding-top: 10px;
  padding-bottom: 10px;
}

.category-cell.selected,
.subcategory-cell.selected {
  background-color: #3871e0;
  color: #fff;
  border-radius: 10px;
}
.category-cell.selected.disabled {
  background-color: #fff;
  color: #5c5f6d;
  border-radius: 0px;
}

.button-keyword,
.button-lawsearch {
  border-left: none;
  border-right: none;
}
.button-keyword {
  border-left: none;
  border-right: none;
}

.pagination_next-button,
.pagination_back-button,
.pagination_otherpages,
.alphabet-nav-button {
  border-radius: 3px;
  background-color: #fff;
  padding: 0px 8px;
  color: #818181;
  font-size: 13px;
  line-height: 24px;
}
.category-title,
.subcategory-title {
  flex: 1;
  white-space: normal;
  word-break: break-word;
  line-height: 1.35;
  font-size: 13px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
}
.category-title {
  font-weight: 600;
  cursor: pointer;
}
.subcategory-title {
  font-weight: normal;
  max-width: 210px;
  min-width: 210px;
  width: auto;
}
.header-with-pagination {
  display: flex;
  margin: 12px 15px;
  height: 45px;
}
.pagination {
  padding: 3px 0px 0px 15px;
  display: flex;
  vertical-align: middle;
  flex-wrap: nowrap;
  margin-left: auto;
  height: 30px;
}
.pagination,
.pagination-wrapper {
  justify-content: right;
  display: flex;
  align-items: center;
  color: #5c5f6d;
}
.pagination-wrapper {
  padding-top: 5px;
  border-radius: 10px;
  display: flex;
  float: right;
}
.pagination-wrapper span {
  background-color: #fff;
}
.keyword-search-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.alphabet-nav {
  display: flex;
  justify-content: center;
}

.app-footer {
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", serif;
  height: max-content;
  margin-top: auto;
  margin-bottom: 4px;
  width: 100%;
  text-decoration: none;
  color: #5c5f6d;
  pointer-events: auto;
  position: relative;
  bottom: 0;
  z-index: 10;
}

.app-footer a {
  color: #3871e0;
}

a {
  color: #3871e0;
  text-decoration: none;
}

.app-footer p {
  margin: 0;
  padding: 10px 0px;
}

.keyword-search-page-wrapper .app-footer p {
  padding-top: 0;
}

.vkuiGroup__separator-sibling {
  display: none;
}

.vkuiSimpleCell__content {
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.pagination_page-button.active {
  transform: scale(1.2);
  background-color: #3871e0;
  color: #fff;
  box-sizing: border-box;
}
.page1,
.page2 {
  transform: scale(1.2);
  background-color: #3871e0;
  color: #fff;
  padding: 3px 8px;
}
.pagination_page-button {
  background-color: #fff;
  color: #818181;
  border-radius: 2px;
  font-size: 13px;
  justify-content: center;
  display: flex;
  align-items: bottom;
  padding: 5px 8px 0px 8px;
}
.case-description {
  word-break: break-word;
}
.vkuiSeparator__in {
  display: none;
}

.vkuiCell.category-cell.disabled:hover {
  background-color: #fff;
  cursor: default;
  pointer-events: none;
}

.vkuiCell.category-cell.disabled * {
  background-color: #fff;
  cursor: default;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .header-navigation {
    padding-right: 0;
    position: relative;
  }
}

.keyword-search-controls {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 42px;
}
.inAlphabet-nav h2 {
  margin: 10px 0px;
}
.inAlphabet-nav .button:nth-child(n + 2):hover {
  background-color: #f0f0f0;
}
.inAlphabet-buttons {
  display: flex;
  margin: 10px 0px 25px;
  gap: 20px;
  height: 36px;
}

.find-button,
.Keywordsearch-find {
  background-color: #3871e0;
  color: #fff;
  padding: 0px 25px;
  border-radius: 5px;
  height: 30px;
  margin: 0px 5px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 100;
}
.Keywordsearch-find:hover {
  background-color: #4159e1;
}
.alphabet-nav-wrapper {
  padding-bottom: 0px;
}

.alphabet-nav {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  border-radius: 5px;
}
.alphabet-cards {
  color: #818181;
  white-space: nowrap;
  color: #fff;
  margin: auto 14px;
  transform: scale(1.2);
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 14px;
  width: 50px;
}
.alphabet-nav-button {
  padding: 0px 20px;
}
.alphabet-groups {
  display: flex;
  color: #818181;
}
.alphabet-groups button {
  margin: 0px 3px;
  font-size: 12px;
  border-radius: 3px;
  padding: 0px 7px;
}
.alphabet-group.active {
  background-color: #3871e0;
  color: white;
  transform: scale(1.25);
}
.alphabet-card-group {
  background-color: #3871e0;
  margin: auto 14px;
  transform: scale(1.2);
  padding: 5px 0px;
  border-radius: 5px;
  font-size: 14px;
  width: 50px;
}
.list-alphabet {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: fit-content; */
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: fit-content;
  margin-block: auto;
}

.alphabet-category-cell {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  height: 175px;
  width: 220px;
  max-height: 190px;
  max-width: 220px;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
  flex: 1 0 33.33%;
  margin: 0px 10px 20px 10px;
}

.alphabet-category-cell:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.alphabet-category-cell .vkuiCell {
  border-bottom: 1px solid #f5f5f5;
}
.alphabet-category-cell .vkuiCell:last-child {
  border-bottom: none;
}
.alphabet-category-cell .vkuiSimpleCell__content:hover {
  background-color: #fafafa;
  color: #3871e0;
}
.alphabet-category-cell .vkuiSimpleCell__content {
  padding: 5px 10px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  border-bottom: 1px solid#f0f0f0;
  padding: 0px 10px;
  padding-bottom: 5px;
}
.card-header button {
  text-wrap: nowrap;
}
.show-all-button {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #f5f5f5;
  color: #5384e4;
  padding: 6px;
  font-weight: 400;
  margin: 0px 0px 0px 0px;
  font-size: 12px;
}

.show-all-button:hover {
  background-color: #3871e0;
  color: #fff;
}
.card-title {
  min-width: 35px;
  font-size: 25px;
  color: #5c5f6d;
}
.button-showfull {
  font-size: 30px;
}
.rubricator-wrapper {
  display: flex;
  width: 700px;
  justify-content: flex-end;
  margin-right: 15px;
  padding-top: 8px;
}
.search-bar-header {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  width: 50%;
  padding: 0px;
  height: 30px;
}
.Keywordsearch-wrapper {
  width: 70%;
  display: flex;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 5px;
  margin: 14px auto 20px auto;
  border: 1px solid #f0f0f0;
  align-items: center;
  padding-right: 4px;
  padding-left: 4px;
}
.alphabet-input-wrapper {
  display: flex;
  align-items: center;
  margin: 15px 0px 5px;
  margin-left: auto;
  background-color: #fff;
  width: 35%;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  padding: 6px 10px;
  gap: 4px;
}
.alphabet-input {
  border-radius: 0px 5px 5px 0px;
}
.vkuiIcon--28 {
  color: #818181;
}
.law-search-header {
  display: flex;
  padding: 12px 0px;
  background-color: #f5f7f9;
}
.law-search-wrapper {
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 16px;
  overflow-x: clip;
  overflow-y: visible;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
.law-search-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Law-search-content-header {
  background-color: none;
}
.law-search-content {
  margin: 0px 15px;
  border-radius: 10px;
  background-color: #fff;
  flex-wrap: wrap;
}
.law-search-content .vkuiList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.law-search-content .vkuiTappable {
  box-sizing: border-box;
}
.law-search-block {
  display: flex;
  padding: 6px;
  padding-inline: 15px;
  height: 45px;
  align-items: center;
  gap: 8px;
  background: transparent;
  box-sizing: content-box;
  color: #5c5f6d;
  position: relative;
  width: 210px;
}
.law-search-block:first-child:after {
  display: block;
  content: "";
  width: 1000%;
  height: 1px;
  background-color: #f0f4f6;
  position: absolute;
  left: 0;
  bottom: 0;
}

.law-search-block:nth-child(n + 3):after {
  display: block;
  content: "";
  width: 1000%;
  height: 1px;
  background-color: #f0f4f6;
  position: absolute;
  left: 0;
  bottom: 0;
}

.law-search-block:last-child .law-search-block span {
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 3px;
  color: #5c5f6d;
  margin-top: auto;
  margin-bottom: auto;
}
.law-search-block span:hover {
  color: #3871e0;
}
.law-search-block .vkuiSimpleCell__before,
.vkuiSimpleCell__middle {
  margin-top: auto;
  margin-bottom: auto;
}
.law-search-buttons {
  margin-top: 8px;
  display: flex;
  gap: 16px;
}
.law-search-button,
.law-search-button-right {
  width: 105px;
  padding: 0px;
  background-color: #fff;
  color: #3871e0;
}
.law-search-button-right {
  width: 102px;
}
.sort-button,
.display-button {
  display: flex;
  border: 1px solid #3871e0;
  color: #3871e0;
  background-color: #fff;
  border-radius: 6px;
  height: 30px;
  margin: 5px 20px 10px 0px;
  position: relative;
}
.sort-button:hover,
.display-button:hover {
  cursor: pointer;
}
.law-search-container {
  padding: 0px 15px;
  display: flex;
}
.law-search-controls {
  display: flex;
  padding: 0px 0px 5px 0px;
  background-color: #f5f7f9;
  margin-top: 16px;
}
.law-search-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  width: 35%;
  margin-left: auto;
}
.advanced-search-container {
  margin-top: 8px;
  padding: 4px 10px 16px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 375px;
  max-height: 475px;
  position: relative;
  border: 1px solid #eaeff2;
  margin-bottom: 64px;
}
.advanced-search-buttons {
  display: flex;
  gap: 19px;
  position: absolute;
  bottom: -48px;
  left: 0;
}
.advanced-search-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.advansedsearch1-wrapper,
.advancedsearch2-wrapper,
.advancedsearch3-wrapper,
.advancedsearch4-wrapper,
.advancedsearch-date-wrapper,
.advanced-search4-input {
  display: flex;
  padding: 6px 20px 8px;
  border-bottom: 1px solid #f0f0f0;
  gap: 20px;
}
.advansedsearch1-wrapper input:focus,
.advancedsearch2-wrapper input:focus,
.advancedsearch3-wrapper input:focus,
.advancedsearch4-wrapper input:focus,
.advanced-search4-input input:focus,
.data-input-left input:focus,
.data-input-left input:focus {
  outline: none;
  border-color: #3871e0;
  box-shadow: 0 0 0 2px #3871e0;
}
.advancedsearch-date-wrapper {
  padding-top: 0px;
}
.advansedsearch1-block {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 4px;
}
.advansedsearch1-wrapper {
  border-bottom: none;
  padding-bottom: 0;
  gap: 20px;
}
.advancedsearch4-wrapper {
  border-bottom: none;
}
.advanced-date-picker {
  border: none;
  color: #5c5f6d;
  padding-top: 8px;
}
.advanced-search4-input {
  border: 1px solid #f0f0f0;
  padding: 0px;
  margin: 15px 20px 20px 0px;
  width: 600px;
  font-size: 14px;
}
.data-input-left,
.data-input-right {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 14px;
}
.data-input-left img,
.data-input-right img {
  height: 16px;
  position: absolute;
  right: 8px;
}
.advancedsearch-date-wrapper .advanced-title {
  font-weight: 400;
  color: #5c5f6d;
}

.radio-switch {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  margin-bottom: 5px;
  margin-left: 25px;
  color: #5c5f6d;
  gap: 4px;
}

.radio-switch input[type="radio"]:checked + label {
  background-color: #fff;
}

.radio-switch input[type="radio"]:checked + label::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3871e0;
}
.radio-switch {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-switch input:focus {
  border: none;
  box-shadow: none;
  background-color: #3871e0;
}
.radio-switch input {
  margin-top: 0px;
}
.advanced-title-switches {
  display: flex;
  padding-right: 20px;
}
.advancedsearchdata-wrapper {
  padding-top: 12px;
}
.advancedsearchdata-top {
  display: flex;
}
.advancedsearch4-wrapper {
  display: block;
}
.advansedsearch1-left,
.advansedsearch1-right,
.advancedsearch2-left,
.advancedsearch2-right,
.advancedsearch3-left,
.advancedsearch3-right,
.advancedsearch4-wrapper {
  flex: 1;
}
.advansedsearch1-left,
.advancedsearch2-left,
.advancedsearch3-left {
  margin-right: 15px;
}
.advancedsearch-date-left {
  display: flex;
  margin-right: 10px;
}
.advancedsearch-date-right {
  display: flex;
}
.advancedsearch-date-left .advanced-title,
.advancedsearch-date-right .advanced-title {
  padding-top: 6px;
}
.advanced-title {
  color: #5c5f6d;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: start;
  font-size: 14px;
}

.advanced-search-buttons > button {
  width: 160px;
}
.advanced-search-buttons > div img {
  position: absolute;
  left: 12px;
}

.advanced-find-button {
  background-color: #3871e0;
  margin-right: 20px;
}

.advanced-find-button:hover {
  background-color: #5b8beb;
}

.advanced-clear-button {
  border: 1px solid #3871e0;
  background-color: #fff;
  color: #3871e0;
}

.advanced-clear-button:hover {
  background-color: #5b8beb;
  border-color: #5b8beb;
  color: #fff;
}

.advanced-clear-button:hover img {
  filter: grayscale(100%) brightness(0) invert(100%);
}

.advanced-clear {
  color: inherit;
}

.advanced-clear:hover {
  background-color: transparent;
}

.advanced-search {
  color: #fff;
}

.advansedsearch1-wrapper input,
.advancedsearch2-wrapper input {
  width: 100%;
  min-width: 193px;
  max-width: 393px;
}
.advancedsearch-date-wrapper input:focus {
  border: none;
  box-shadow: none;
}
.word-list .vkuiList {
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}
.word-list .vkuiCell {
  padding: 5px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 5px;
  white-space: nowrap;
}
.options-container,
.options-container2,
.options-container3 {
  position: absolute;
  top: 120%;
  background-color: white;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #5c5f6d;
  list-style: none;
  font-size: 14px;
}
.options-container li {
  padding-inline: 4px;
}

.options-container label {
  gap: 4px;
}

.options-container img,
.options-container2 img {
  height: 20px;
  width: 20px;
  padding-left: 8px;
}
.options-container li,
.options-container2 li,
.options-container3 li {
  display: flex;
  height: 38px;
  align-items: center;
}
.options-container3 {
  left: 205px;
}
.options-container button,
.options-container2 button {
  color: #5c5f6d;
  display: block;
  padding: 4px 0px 0px 5px;
  background-color: #fff;
  width: 175px;
  text-align: left;
}
.options-container ul,
.options-container2 ul,
.options-container3 ul {
  padding: 10px 10px 10px 10px;
  margin: 0;
  list-style: none;
}

.options-container2 button {
  background: transparent;
}

.options-container li:hover,
.options-container2 li:hover {
  background-color: #f0f0f0;
}
.options-container img,
.options-container2 img {
  transition: background-color 0.3s ease;
}
.toggle-switch {
  display: flex;
  align-items: center;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  background-color: #ccc;
  border-radius: 17px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  margin-right: 5px;
}

.switch:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
input:checked + .switch {
  background-color: #3871e0;
}
.label {
  margin-left: 8px;
}
.dropdown-arrow {
  color: #3871e0;
  font-size: 23px;
  padding-top: 6px;
}
.inputdropicon {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  max-width: 395px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.inputdropicon select {
  width: 100%;
  height: 35px;
}
.inputdropicon img {
  position: absolute;
  right: 8px;
}
.inputdropicon input:focus {
  border: none;
  box-shadow: none;
}

.inputdropicon:focus-within {
  outline: none;
  border-color: #3871e0;
  box-shadow: 0 0 0 1px #3871e0;
}
.advancedsearch4-wrapper .inputdropicon {
  width: calc(100% - 60px);
}
.welcome-block {
  margin: 0px 15px;
  background-color: #fff;
  border-radius: 10px;
  color: #5c5f6d;
}
.logo-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  height: 50px;
}
.logo-cat {
  height: 80px;
  margin: 20px 0px;
}
.welcome-block h2,
.welcome-block span {
  text-align: center;
}
.welcome-block h2 {
  margin: 0px;
}
.welcome-block div button {
  display: inline-block;
  margin: 0 5px;
}

.welcome-block div {
  text-align: center;
}

.welcome-block Div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-title {
  margin-bottom: 20px;
}
.welcome-desc {
  font-size: 20px;
  margin: 15px 0px;
}

.Welcome-buttons button {
  border: 1px solid #3871e0;
  width: 270px;
  height: 40px;
  border-radius: 5px;
  color: #5384e4;
  font-size: 14;
}
.Welcome-buttons {
  margin: 10px 0px 10px 0px;
}

.Welcome-buttons button:first-child {
  border: 1px solid #2196f3;
  background-color: #2196f3;
  color: #fff;
}

.Welcome-buttons button:hover {
  background-color: #3871e0;
  color: #fff;
}
.react-datepicker__header {
  background-color: #3871e0;
  color: #fff;
}
.react-datepicker__current-month {
  color: #fff;
}
.react-datepicker__day-name {
  color: #fff;
}
.react-datepicker__day--selected {
  background-color: #3871e0;
}
.react-datepicker {
  border: 1px solid #3871e0;
}
.react-datepicker-popper .react-datepicker__triangle {
  stroke: #3871e0;
}

select:focus {
  background-color: #fff;
  outline: none;
}

select:active {
  background-color: #fff;
}

.law-detail {
  background-color: #f5f7f9;
  color: #5c5f6d;
}
.selectedLaw-content {
  background-color: #fff;
  height: 495px;
  padding: 10px 20px;
  overflow-y: auto;

  border-radius: 6px;
  margin-top: 16px;
}

.law-detail li {
  list-style-type: none;
}

.law-detail li:hover,
h3:hover {
  color: #3871e0;
}
.LawPanel {
  margin-top: 10px;
}
.LawPanel .rubricator-header {
  margin: 12px 0px;
}
.law-panel-content {
  background-color: #fff;
  border-radius: 15px;
  height: auto;
  min-height: 400px;
  height: auto;
  flex: 1;
  max-height: 65vh;
  overflow-y: scroll;
  position: relative;
  padding-top: 60px;
}
.bottom-text h1 {
  margin-top: 8px;
  padding-inline: 8px;
  height: auto;
  position: absolute;
  top: 0;

  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  color: #717171;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  padding: 8px 0px;
  font-weight: 400;
  left: 0;
  right: 0;
}

.LawPanel-buttons {
  display: flex;
  margin-bottom: 16px;
}
.LawPanel-buttons div {
  cursor: pointer;
}
.LawPanel-buttons-right {
  margin-left: auto;
  gap: 16px;
}

.LawPanel-buttons-right .uibtn__icon.left {
  left: 16px;
}
.law-panel-content-text {
  margin: 0px 50px;
}
.law-panel-content-text h1 {
  margin: 10px 0px 0px;
  text-align: center;
}
.text-right {
  text-align: right;
}
.bottom-text {
  margin-top: 10px;
}
.bottom-text p {
  margin: 0px;
  line-height: 1.35;
  text-align-last: justify;
  text-align: justify;
}

.LawPanel-buttons-right {
  display: flex;
}
.LawPanel-buttons-right-one,
.LawPanel-buttons-right-two {
  width: 160px;
  height: 35px;
  text-wrap: nowrap;
  font-size: 14px;
  margin-left: 10px;
  border: 1px solid #3871e0;
}
.FindPage {
  margin: 0px 15px;
}
.FindPage-header {
  margin: 12px 0px;
  height: 45px;
  text-align: left;
  font-size: 24px;
  color: #5c5f6d;
  font-weight: lighter;
  padding: 6px 0px 0px 0px;
  text-wrap: none;
  flex-wrap: nowrap;
  width: 100%;
  height: 30px;
}

.FindPage-sort-buttons {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 20px;
  color: #5c5f6d;
  /* display: flex; */
  /* justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}

.FindPage-results {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  margin-top: 16px;
  min-height: 460px;
  overflow: clip;
}
.FindPage-results button {
  background-color: #fff;
  padding: 0px;
}
.backtosearch {
  background-color: #3871e0;
  height: 32px;
  margin: 5px 20px 10px 0px;
  cursor: pointer;
}
.FindPage-item-container {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.FindPage-item-container:nth-child(-n + 3) {
  border-bottom: 1px solid #f0f0f0;
}
.FindPage-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  box-sizing: border-box;
  color: #5c5f6d;
  text-overflow: ellipsis;
  overflow: clip;
  align-items: start;
}
.FindPage-item:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}
.FindPage-item-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
}
.FindPage-item-text {
  /* flex: 0 0 64%; */
  grid-column: 2 / 8;
}
.FindPage-item-text-desc {
  text-overflow: ellipsis;
  overflow: clip;
}
.FindPage-item-court {
  margin-left: 10px;
  flex: 0 0 26%;
  font-size: 18px;
  display: flex;
  align-items: center;
  grid-column: 8 / 11;
}

.empty-div {
  min-width: 80px;
}

.sort-button-left {
  /* flex: 0 0 64%; */
  grid-column: 2 / 8;
}

.close-btn {
  width: 16px;
  height: 16px;
  filter: grayscale(100%) brightness(0) invert(100%);
}

.sort-button-right {
  margin-left: 10px;
  /* flex: 0 0 26%; */
  grid-column: 8 / 11;
}

@media (max-width: 768px) {
  .sort-button-right {
    margin-left: 4px;
  }
  /* .page-title {
    text-align: center;
    width: 100%;
  } */

  .header-with-pagination {
    flex-direction: column;
    margin: 10px 15px 10px 15px;
    justify-content: center;
    height: auto;
  }

  .pagination {
    margin: 0px auto;
    padding: 10px 0px;
  }

  .alphabet-page .alphabet-category-cell {
    flex-direction: column;
    max-width: 47vw;
    width: 47vw;
  }

  .rubricator-header {
    text-align: center;
    font-size: 22px;
  }

  .header-left {
    padding-left: 0px;
    justify-content: center;
    background-color: #f5f7f9;
    height: auto;
  }

  .logo {
    height: 36px;
  }

  .header-navigation {
    min-width: 100%;
    padding: 0px;
    margin: 0px;
    height: 50px;
  }

  .header-center {
    width: 100%;
    display: block;
    height: auto;
  }

  .header-navigation button {
    padding: 0px;
    border-radius: 0px;
    margin: 0px 0px;
    flex-basis: 100%;
    width: 25%;
    border: none;
    height: 50px;
    font-size: 14px;
    text-wrap: wrap;
  }

  .buttons-group {
    width: 100%;
  }

  .rubricator-header {
    margin: 0px auto 0px auto;
    justify-content: center;
    padding: 0px;
  }
  .Keywordsearch-header {
    justify-content: center;
    margin: 10px auto 10px auto;
    width: 350px;
    text-align: center;
  }
  .keywordsearch-title {
    margin: 0px;
    padding-top: 0px;
    font-size: 22px;
  }
  .Keywordsearch-find {
    padding: 0px 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .Keywordsearch-wrapper {
    min-width: 300px;
  }
  .law-search-header {
    display: block;
    padding: 0px 0px 10px 0px;
    margin-top: 10px;
  }
  .law-search-input-wrapper {
    min-width: 300px;
    width: 74%;
    border: 1px solid #f0f0f0;
    margin-left: 0;
  }
  .alphabet-nav-wrapper {
    margin-top: 0px;
  }
  .law-search-buttons button {
    height: 26px;
    margin-top: 2px;
  }
  .advancedsearch1-wrapper,
  .advancedsearch2-wrapper,
  .advancedsearch3-wrapper,
  .advancedsearch4-wrapper,
  .advanced-search4-input {
    display: block;
  }
  .advansedsearch1-wrapper input,
  .advancedsearch2-wrapper input {
    width: 100%;
  }
  .advansedsearch1-left,
  .advancedsearch2-left,
  .advancedsearch3-left {
    margin-bottom: 10px;
  }

  .advancedsearch-date-wrapper {
    min-width: 20px;
  }
  .advancedsearchdata-top {
    display: block;
  }
  .advanced-date-picker {
    width: 90px;
  }
  .advanced-title-switches {
    margin: 5px 0px 0px 15px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .advanced-title-switches > * {
    flex: 1 0 50%;
    box-sizing: border-box;
  }
  .radio-switch {
    padding: 5px 0px;
    margin: 0px;
  }
  .radio-switch input {
    margin-top: 0px;
  }
  .advanced-clear-button {
    width: 34px;
  }

  .advanced-clear-button {
    margin-left: auto;
  }
  .advanced-clear {
    display: none;
  }
  .advancedsearch4-wrapper {
    width: 100%;
  }
  .advansedsearch1-left,
  .advansedsearch1-right,
  .advancedsearch2-left,
  .advancedsearch2-right,
  .advancedsearch3-left,
  .advancedsearch3-right,
  .advancedsearch4-wrapper {
    width: 100%;
  }

  .law-search-button-right,
  .law-search-button {
    display: none;
  }
  .sort-button,
  .display-button {
    width: 55px;
    margin-right: 5px;
  }
  .sort-button img {
    padding: 8px 9px 0px 9px;
  }
  .law-search-controls .pagination {
    padding-top: 5px;
    margin: 0px;
  }
  .Keywordsearch-wrapper {
    width: 90%;
  }
  .options-container2 {
    left: 0px;
  }
  .alphabet-nav-button {
    padding: 0px 5px;
    font-size: 10px;
  }
  .alphabet-groups button {
    margin: 0px 3px;
    font-size: 10px;
    border-radius: 3px;
    padding: 0px 3px;
  }
  .alphabet-nav {
    width: auto;
    max-width: 360px;
  }
  .vkuiTappable__stateLayer {
    display: none;
  }
  .alphabet-header {
    display: block;
  }
  .card-title {
    min-width: 22px;
  }
  .alphabet-input-wrapper {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    margin-top: 8px;
  }
  .alphabet-category-cell {
    margin: 0px 5px 10px;
  }
  .inAlphabet-buttons {
    font-size: 14px;
  }
  .category-cell,
  .subcategory-cell {
    padding: 0px;
  }

  .category-cell {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px 0px 0px;
    box-sizing: border-box;
    justify-content: start;
    padding-inline: 0;
  }
  .subcategory-list {
    margin-left: 15px;
  }
  .subcategory-title {
    max-width: 340px;
    width: 340px;
    padding-top: 6px;
    margin: 0px;
  }
  .subcategory-cell,
  .subcategory-cell.selected {
    width: 100%;
    max-width: 100%;
  }
  .subcategory-icon,
  .category-icon {
    margin-top: 0px;
    margin-right: 5px;
    padding-left: 3px;
  }

  .case-list-wrapper {
    border-radius: 0px 0px 10px 10px;
    height: 100%;
    width: auto;
    min-height: auto;
  }
  .law-search-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    overflow: hidden;
  }
  .law-search-wrapper {
    min-width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .law-search-content .vkuiTappable {
    box-sizing: content-box;
  }
  .side-panel.hide {
    display: none;
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin-top: env(safe-area-inset-top, 10px);
  position: relative;
}

.page-content {
  flex: 1 1;
  padding: 15px;
  padding-bottom: 0;
}

.keyword-search-page-content {
  display: flex;
  flex-direction: column;
}

.page-content--flex {
  display: flex;
  flex-direction: column;
}

.subcategory-cell.selected .subcategory-title {
  cursor: default;
}

.vkuiView__panel--prev {
  display: none;
}

.page-title {
  font-size: 24px;
  color: #5c5f6d;
  font-weight: 300;
}

.btn {
  border-radius: 5px;
  color: #fff;
  padding: 7px 10px 7px;
  display: flex;
  align-items: center;
}

.Keywordsearch-input {
  background-color: #fff;
  padding: 8px;
  height: 25px;
  width: 100%;
  font-family: "Open Sans", serif;
}
.Keywordsearch-input::placeholder {
  font-family: "Open Sans", serif;
}

.row {
  display: flex;
  align-items: center;
}

.fade-top {
  max-height: 150px;
  transition: max-height 0.5s ease;
  overflow: clip;
}

.fade-top.hidden-animate-fade-top {
  max-height: 0;
}

.triangleIcon.reversed {
  transform: rotateY(180deg);
}

.letter-search__letter {
  font-size: 14px;
  color: #3871e0;
  background-color: #fff;
  font-family: "Open Sans", serif;
  font-weight: 400;
  padding: 10px 18px;
  border-radius: 8px;
  border: 2px solid #3871e0;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.letter-search__letter:disabled {
  color: #3871e0;
}

.letter-search__letter:hover {
  background-color: #3871e0;
  color: #fff;
}

.letter-search__letter:hover .triangleIcon {
  filter: grayscale(100%) brightness(0) invert(100%);
}

.letter-search__word-text {
  color: #676a77;
  background-color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Open Sans", serif;
}

.word-list-block {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  color: #5c5f6d;
  font-weight: 400;
  min-width: 60px;
  padding: 8px 40px 8px 12px;
  position: relative;
}

.btn-2 {
  background-color: #3871e0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  width: 32px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.btn-2:hover {
  background-color: #5b8beb;
}

.icon-white {
  filter: grayscale(100%) brightness(0) invert(100%);
}

.btn-active {
  background-color: #3871e0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", serif;
  padding: 8px 18px 8px 32px;
  position: relative;
}

.btn-active img {
  position: absolute;

  left: 12px;
  display: block;
}

.advanced-select {
  font-family: "Open Sans", serif;
}

.advanced-search-container input,
select {
  padding: 4px 12px !important;
  max-width: 370px !important;
}

.uibtn {
  font-size: 14px;
  font-family: "Open Sans", serif;
  color: #fff;
  background-color: #3871e0;

  border: 1px solid #3871e0;
  border-radius: 6px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;

  transition: background-color 0.3s ease, color 0.1s ease, border 0.3s ease;
  cursor: pointer;
  box-sizing: content-box;
}

.uibtn .uibtn__icon {
  /* filter: grayscale(100%) brightness(0) invert(100%); */

  transition: filter 0.3s ease;

  height: 12px;
  width: 14px;
  object-fit: cover;
  object-position: center center;

  flex-shrink: 0;
}

.uibtn:hover {
  background-color: #5b8beb;
  border-color: #5b8beb;
}

.uibtn--outline {
  color: #3871e0;
  background-color: #fff;
  border: 1px solid #3871e0;
}

.uibtn--outline .uibtn__icon {
  filter: grayscale(100%) brightness(0) invert(39%) sepia(66%) saturate(621%)
    hue-rotate(180deg) brightness(98%) contrast(100%);
}

.uibtn--outline:hover {
  background-color: #3871e0;
  color: #fff;
}

.uibtn--outline:hover .uibtn__icon {
  filter: grayscale(100%) brightness(0) invert(100%);
}

.uibtn--icon {
  padding: 6px 12px;
}

.uibtn--icon {
  gap: 8px;
}

.uibtn--select {
  padding: 6px 28px 6px 12px;
}

.uibtn--select:hover .uibtn__select-icon {
  filter: grayscale(100%) brightness(0) invert(100%);
}

.uibtn__select-icon {
  position: absolute;
  right: 10px;
  transform: rotateZ(0deg);
  transform-origin: center;
  transition: transform 0.2s ease;
}

.keywordsearch-uibtn {
  width: 80px;
  justify-content: center;
}

.advancedsearch-desc {
  font-style: italic;
}

.law-details-btn-back {
  width: 200px;
}

.law-details-btn-back .uibtn__icon.left {
  left: 16px;
}

.display-button-details {
  position: relative;
}

.cases-loading {
  width: 100%;
  text-align: center;
  margin-block: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.preloader-anim {
  height: 36px;
  width: 36px;
}

.FindPage-item-text-title {
  font-size: 14px;
  word-break: keep-all;
}

.FindPage-item-text-desc {
  font-size: 12px;
  font-style: italic;
  word-break: keep-all;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  justify-content: center;
}
.modal-content {
  position: relative;
  z-index: 101;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  min-height: 300px;
  height: fit-content;
  width: 50%;
}

.vkuiModalDismissButton {
  position: absolute;
  inset: 0;
}

.expand-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  object-fit: cover;
  object-position: center center;

  transition: transform 0.3s ease;
  transform: rotateZ(0deg);
}
.rotated {
  transform: rotateZ(-90deg);
}

.expand-icon > * {
  width: 16px;
  height: 16px;
}

.law-section {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  gap: 10px;
}

.law-chapters {
  font-size: 16px;
  font-weight: 600;
  margin-left: 48px;
  transform: translateY(-150%);
  display: none;
  /* transition: transform 0.3s ease; */
  animation: law-chapters-fade-to-top 0.3s ease 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.law-chapters.active {
  /* transform: translateY(0); */
  animation: law-chapters-fade-to-bottom 0.3s ease 1;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes law-chapters-fade-to-top {
  0% {
    display: block;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150%);

    display: none !important;
  }
}

@keyframes law-chapters-fade-to-bottom {
  0% {
    display: block;
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
    display: block !important;
  }
}

.selectedLaw__title {
  margin-bottom: 10px;
}

.center {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.casedetails-btn.left {
  box-sizing: content-box;
  padding-right: 24px;
}

.casedetails-btn .uibtn__icon {
  left: 14px;
}

.display-btn-law-search .uibtn__icon {
  width: 19px;
  height: 10px;
}

.modal-close {
  /* position: absolute; */
  /* top: 0px; */
  /* right: 0; */
  /* border-top-left-radius: 0; */
  /* border-bottom-right-radius: 0; */
  float: right;
  /* shape-outside: circle(50%); */
}
.modal-text {
}

.modal-content {
  float: left;
}

.show-icon {
  height: 10px !important;
  width: 19px !important;
}

select:focus .uibtn__select-icon {
  transform: rotateZ(90deg);
}

.header-button {
  padding: 8px 10px;
  color: #9e9e9e;
  background-color: #fff;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}

.header-button.primary {
  background-color: #3871e0;
  color: #fff;
}

.mobile-burger {
  display: none;
}

.mobile-burger > * {
  width: 25px;
  height: 18px;
}

.advanced-search-buttons .uibtn__icon {
  left: 16px;
}
.lettersearch-list {
  gap: 20px;
}

.results-row {
  flex-direction: row-reverse;
}

.idk {
  color: #676a77;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .tablet-jcsb {
    justify-content: space-between;
  }

  .tablet-jcsb > * {
    margin: 0;
  }
  .button-wrapper {
    flex-direction: column;
    border: none;
    align-items: center;
  }
  .header-button {
    width: fit-content;
    padding: 4px 10px;
  }
  .subcategory-title {
    width: 100%;
  }
  .FindPage-item-court {
    font-size: 16px;
    margin-left: 8px;
  }
  .FindPage-item {
    justify-content: space-between;
    max-height: 90px;
  }
  .FindPage-item-container {
    padding: 10px;
  }
  .lettersearch-list {
    gap: 16px;
  }
  .side-panel {
    width: auto;
    border-bottom: 1px #f0f4f6 solid;
    padding-bottom: 20px;
    height: fit-content;
    flex: 1;
    overflow: visible;
    box-shadow: 0px 2px 10px #00000009;
    border-radius: 10px 10px 0px 0px;
  }
  .subcategory-cell .vkuiSimpleCell__content {
    padding: 6px 0;
  }

  .subcategory-cell,
  .subcategory-cell.selected {
    justify-content: start;
    padding-left: 16px;
  }
  .category-cell {
    padding: 6px;
  }
  .subcategory-title {
    padding: 0;
  }
  .law-search-block:nth-child(odd):after {
    display: block;
    content: "";
    width: 300%;
    height: 1px;
    background-color: #f0f4f6;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .page-content {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .app-footer {
    margin-bottom: 0;
    line-height: 1;
    font-size: 12px;
  }
  .RubricatorPanel {
    margin-top: 4px;
    flex-direction: column;
    max-height: none;
  }
  .case-list-wrapper {
    padding-inline: 8px;
  }
  .mobile-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .mobile-burger {
    display: block;
    margin-left: auto;
    margin-right: 50px;
    background: transparent;
    z-index: 10;
    position: absolute;
    left: 18px;
    top: 24px;
  }
  .header-center {
    display: flex;
    justify-content: center;
    background: #f5f7f9;
    overflow: visible;
    padding-top: 4px;
  }
  .header-navigation {
    position: absolute;
    background-color: #fff;
    right: 0;
    left: 0;
    top: 0;
    height: 300px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    transform: translateY(-120%);
    transition: transform 0.3s ease;
  }

  .header-navigation.active {
    transform: translateY(0);
  }

  .header-navigation div.header-button {
    border: none;
    border-radius: 0;
    background-color: #fff;
    color: #9b9c9e;
    font-size: 14px;
    padding-inline: 0;
  }
  .header-navigation div.header-button.primary {
    border-bottom: 1px solid #9b9c9e;
  }

  .display-button-details {
    height: fit-content;
  }

  .advanced-search-container {
    max-height: 100%;
    height: auto;
  }
  .advancedsearch-date-left {
    margin-right: 0;
  }
  .advancedsearch-date-wrapper {
    justify-content: flex-start;
    gap: 8px;
  }
  .data-input-right {
    margin-left: 8px;
  }
  .data-input-left {
    margin-left: 8px;
  }
  .advansedsearch1-wrapper {
    flex-direction: column;
    gap: 8px;
  }
  .advansedsearch1-left,
  .advancedsearch2-left {
    margin: 0;
  }
  .advanced-title {
    margin-bottom: 4px;
  }
  .advanced-search-container {
    width: max-content;
    margin-inline: auto;
    position: relative;
  }
  .advanced-search-buttons {
    margin-right: 0;
    display: flex;
    gap: 8px;
  }
  .advanced-search-buttons .uibtn {
    min-width: 0;
    max-width: none;
    width: fit-content;
    text-wrap: nowrap;
    padding: 8px;
  }
  .advanced-search-buttons .uibtn__icon {
    left: 10px;
  }
  .list-alphabet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .LawPanel-buttons {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 8px;
  }
  .LawPanel-buttons-right {
    flex-direction: column;
    margin: 0;
    gap: 8px;
  }
  .inAlphabet-buttons {
    flex-wrap: wrap;
    height: auto;
    gap: 8px;
    justify-content: center;
  }
  .inAlphabet-buttons button {
    height: 36px !important;
    font-size: 14px;
    box-sizing: border-box;
    max-width: 200px;
    width: 100%;
  }
  .advanced-search-container {
    width: 100%;
    box-sizing: border-box;
    overflow-x: clip;
  }
  .law-panel-content {
    max-height: 66vh;
  }
  .page-content {
    padding-bottom: 0;
  }
  .LawPanel-buttons-left,
  .LawPanel-buttons-right {
    width: 100%;
  }
  .results-title {
    text-align: center;
  }
}

@media (max-width: 536px) {
  .keyword-search-page-wrapper .app-footer p {
    padding-top: 10px;
  }

  .law-search-block:after {
    display: block;
    content: "";
    width: 300%;
    height: 1px;
    background-color: #f0f4f6;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .FindPage-sort-buttons {
    padding-inline: 4px;
  }
  *.mobile-center {
    align-items: center !important;
  }
  .mobile-burger {
    left: 8px;
  }
  .law-panel-content {
    max-height: 72vh;
  }

  .subcategory-list {
    margin-left: 8px;
  }
  .subcategory-cell,
  .subcategory-cell.selected {
    text-wrap: wrap;
    height: auto;
    width: 98%;
  }

  .FindPage-item-text-desc {
    display: none;
  }
  .FindPage-item-container {
    padding: 8px 4px;
  }
  .FindPage-item {
    max-height: 110px;
    align-items: center;
  }
  .FindPage-item-court {
    font-size: 14px;
    margin-left: 4px;
  }
  .FindPage-item-text-title {
    font-size: 13px;
    font-weight: 600;
  }
  .FindPage-results {
    max-height: none;
  }
  .LawPanel-buttons > div {
    width: auto;
  }
  .law-search-wrapper {
    width: 80%;
    margin-inline: auto;
  }

  .law-search-list {
    display: flex;
    flex-direction: column;
  }

  .law-search-block {
    padding-left: 25vw;
  }

  .inAlphabet-buttons button {
    width: 100%;
    max-width: 100%;
  }
  .alphabet-page .alphabet-category-cell {
    max-width: 80vw;
    width: 80vw;
  }
  .page-content > .row {
    flex-direction: column;
    align-items: start;
  }
  .law-panel-content-text {
    margin: 0 8px;
  }
  .page-content {
    padding: 8px;
  }
  .side-panel {
    overflow-x: clip;
    text-overflow: ellipsis;
  }
  .law-search-buttons .uibtn--select {
    font-size: 0;
    position: relative;
    display: flex;
    justify-content: center;
    padding-inline: 0;
    padding-block: 6px;
    width: 56px;

    margin-top: 0;
  }
  .law-search-controls {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 8px;
  }
  .law-search-buttons {
    margin-right: 0;
  }
  .law-search-list {
    margin-top: 4px;
  }
  .list-alphabet {
    grid-template-columns: 1fr;
    gap: 8px;
    grid-template-rows: auto;
  }
  .law-search-list {
    grid-template-columns: 1fr;
  }

  * {
    /* outline: 1px solid red; */
  }
  .advansedsearch1-left,
  .advansedsearch1-right,
  .advancedsearch2-left,
  .advancedsearch2-right,
  .advancedsearch3-left,
  .advancedsearch3-right,
  .advancedsearch4-wrapper {
    width: auto;
    margin-right: 16px;
  }

  .advancedsearch1-wrapper,
  .advancedsearch2-wrapper,
  .advancedsearch3-wrapper,
  .advancedsearch4-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .advanced-search-container {
    width: auto;
  }
  .inputdropicon {
    padding: 1px 12px !important;
  }
  .case-description,
  .advancedsearch-desc {
    display: block;
  }
  .advanced-select {
    padding-right: 0;
  }
  .advancedsearch4-wrapper .inputdropicon {
    width: 100%;
  }
  .mobile-sm-hidden {
    display: none;
  }
  .casedetails-btn.left {
    height: 24px;
    width: auto;
    padding-inline: 12px;
  }

  .casedetails-btn.left .uibtn__icon {
    left: 12px;
  }
  .LawPanel-buttons {
    flex-direction: row;
    justify-content: space-between;
  }
  .LawPanel-buttons-right {
    flex-direction: row;
  }
}

.uibtn__icon.AI-icon {
  height: 18px;
  width: 18px;
  bottom: 8px;
}

.uibtn__icon.Save-icon {
  height: 14px;
  width: 14px;
  bottom: 8px;
}

.case-details-page-title {
  font-size: 18px;
}

.uibtn__icon.search-icon {
  height: 14px;
  width: 14px;
}

.uibtn__icon.clear-icon {
  width: 14px;
  height: 14px;
}

@media (max-width: 420px) {
  .FindPage-item-text-title {
    font-size: 12px;
  }
  .law-search-block {
    padding-left: 15vw;
  }
}
